/* Header section ==========================================================================================================================================*/
.nav{
height: 90px;
grid-template-columns: 1fr 2fr 1fr;
}
.nav p, .nav li a{
text-transform: uppercase;
}
.nav ul{
list-style-type: none;
}
.nav li{
margin: 0 40px;
}
.nav-a{
text-decoration: none;
color: var(--primary-color);
}
.nav-active{
color: var(--accent-color);
}
#nav-left img{
width: 50px;
height: 50px;
margin-right: 15px;
}
#nav-left span{
color: var(--accent-color);
}
/* Footer section ========================================================================================================================================== */
#footer{
padding: 50px 0;
background: #FFEDE2;
}
#footer img{
width: 30px;
height: 30px;
}
.footer-wrap{
grid-template-columns: 1fr 0.6fr 1fr;
}
.footer-wrap div:last-of-type{
justify-content: flex-end;
}
.call-item{
margin: 0 5px;
padding: 10px 20px;
border-radius: 30px;
background: var(--secondary-color);
box-shadow: 5px 5px 30px rgba(0,0,0,0.1);
}
.call-item img{
margin-right: 10px;
}
.footer-social a{
width: 50px;
height: 50px;
border-radius: 50%;
box-shadow: 5px 5px 30px rgba(0,0,0,0.1);
background: var(--secondary-color);
margin: 0 5px;
}
.footer-wrap button{
border-radius: 30px;
height: 100%;
width: 150px;
border: none;
background: #D4E6CC;
color:var(--secondary-color);
text-transform: uppercase;
outline: none;
cursor: pointer;
}
.footer-wrap input{
border: none;
border-radius: 30px;
outline: none;
width: 50%;
padding-left: 20px;
color: #c3c3c3;
}
.footer-wrap input::placeholder{
color: #c3c3c3;
}
.question-item{
padding: 5px;
}
.copy{
width: 200px;
margin: 20px auto 0;
}
/* Cart section =========================================================================================================================================================== */
#cart{
display: block;
}
.cart-wrap{
position: relative;
display: block;
width: fit-content;
margin-left: calc(100% - 50px);
}
.cart-amount{
width: 25px;
height: 25px;
background: var(--accent-color);
border-radius: 50%;
position: absolute;
right: -2px;
bottom: 0;
}
.cart{
width: 500px;
height: 100%;
position: fixed;
background:var(--secondary-color);
box-shadow: 5px 5px 30px rgba(0,0,0,0.1);
z-index: 10000;
right: 0;
top: 0;
display: none;
}
.cart-header{
width: 100%;
height: 90px;
grid-template-columns: 1fr 2fr 1fr;
background: var(--primary-color);
padding: 0 30px;
}
.cart-cross{
flex-direction: column;
width: 25px;
height: 19px;
}
.cart-header p{
color: var(--secondary-color);
text-align: center;
}
.cart-line{
width: 100%;
height: 3px;
background: var(--secondary-color);
}
#line1{
transform: rotate(-45deg) translate(-5px,6px);
}
#line2{
transform: rotate(45deg) translate(-5px,-6px);
}
/* Utility classes ========================================================================================================================================================*/
section{
padding: 120px 0 80px;
}
.container{
width: 90%;
margin: 0 auto;
}
.container-xs{
 width: 35%;
 margin: 0 auto;
}
.container-sm{
width: 60%;
margin: 0 auto;
}
.flex-container{
display: flex;
justify-content: space-between;
}
.flex-container-center{
display: flex;
justify-content: center;
}
.flex-container-start{
 display: flex;
 justify-content: start;
}
.grid-container{
display: grid;
}
.align-center{
align-items: center;
}
.text-xxl{
font-size: 70px;
font-weight: 200;
}
.text-xl{
font-size: 40px;
font-weight: 200;
}
.text-lg{
 font-size: 30px;
 font-weight: 200;
}
.text-md{
font-size: 25px;
font-weight: 200;
}
.text-sm{
font-size: 20px;
font-weight: 200;
}
.text-xs{
font-size: 14px;
font-weight: 200;
}
.btn{
width: 300px;
height: 70px;
display: block;
margin: 0 auto;
text-decoration: none;
color: var(--secondary-color);
background: var(--accent-color);
line-height: 70px;
text-align: center;
}
.btn:hover{
opacity: 0.8;
}
.headline-wrap{
background: var(--secondary-color);
width: fit-content;
border-radius: 30px;
margin: 0 auto;
padding: 5px 20px;
box-shadow: 5px 3px 30px rgba(0,0,0,0.1);
}
.headline{
text-align: center;
margin: 20px auto ;
}
.underline{
width: 100px;
height: 3px;
background: var(--accent-color);
margin: 20px auto 100px;
}
.main-img{
width: 100%;
display: block;
}
