@font-face {
    font-family: Akrobat-regular;
    src: url(./fonts/akrobat/Akrobat-Regular.otf)
}

@font-face {
    font-family: Akrobat-light;
    src: url(./fonts/akrobat/Akrobat-Light.otf)
}

@font-face {
    font-family: Akrobat-bold;
    src: url(./fonts/akrobat/Akrobat-Bold.otf)
}

@font-face {
    font-family: Akrobat-semibold;
    src: url(./fonts/akrobat/Akrobat-SemiBold.otf)
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

:root {
    --primary-color: #000;
    --secondary-color: #fff;
    --accent-color: #EE5253;
}
