/* HEADER START ==========================================================================================================================================*/
.header {
    position: fixed;
    width: 100%;
    background: rgba(255, 255, 255, 0.95);
    z-index: 10000;
}

.header .container {
    display: grid;
    height: 90px;
    grid-template-columns: 1fr 3.5fr 1fr;
    align-items: center;
}

.header__left {
    display: flex;
    align-items: center;
}

.header__middle {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__list {
    display: flex;
}

.header__listItem {
    margin: 0 20px;
}

.header__logoName {
    text-transform: uppercase;
}

.header__link {
    color: var(--primary-color);
    text-transform: uppercase;
}

.header__link_active {
    color: var(--accent-color);
}

.header__logo {
    width: 50px;
    height: 50px;
    margin-right: 15px;
}

.header__logoName span {
    color: var(--accent-color);
}

/* HEADER END ==========================================================================================================================================*/



/* FRONT PAGE START ==========================================================================================================================================*/


/* Main section  ==========================================================================================================================================*/

.main {
    height: 100vh;
}

.main__innerWrap {
    background: url(../img/main__bg.jpg) center/cover;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main__inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.main__textWrap {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.slider-nav_main {
    position: absolute;
    bottom: 50px;
    z-index: 10;
    display: flex;
    justify-content: center;
    left: 0;
    right: 0;
}

.main__headline,
.main__description {
    color: var(--primary-color);
    text-align: center;
}

.main__description {
    margin: 20px 0;
}

.nav-item {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 2px solid #000;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
}

.nav-item:not(:last-child) {
    margin-right: 10px;
}

.slider-wrap {
    position: relative;
}

.nav-item.tns-nav-active {
    background: #000;
}

/* Advantages-section ==========================================================================================================================================*/
.advantages {
    padding: 50px 0;
}

.advantages__wrap {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
}

.advantages__itemWrap,
.bestsellers>a {
    background: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 5px 3px 30px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.advantages__img {
    display: block;
    margin: 0 auto 20px;
}

.advantages__description {
    width: 70%;
    margin: 15px auto;
}

/* Products-section ==========================================================================================================================================*/
.production {
    padding: 115px 0 50px;
}

.production .container-xs:nth-child(2) {
    background: #fff;
    border-radius: 10px;
    box-shadow: 5px 3px 30px rgba(0, 0, 0, 0.1);
}

.production__wrap {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.production__pane {
    display: flex;
    justify-content: center;
    align-items: center;
}

.production__img {
    width: 100%;
    min-height: 575px;
    display: block;
}

.production__name {
    text-align: center;
    font-family: Akrobat-semibold;
    font-size: 35px;
}

.production__price {
    font-family: Akrobat-semibold;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    margin: 15px 0 25px;
    text-transform: uppercase;
}

.production__description {
    text-align: center;
    max-width: 90%;
    margin: 0 auto;
    line-height: 30px;
    font-family: Akrobat-regular;
}

.production__price_colored {
    color: var(--accent-color);
}

.production__wrap .btn {
    padding: 10px 40px;
    margin: 0 auto 20px;
}

.production__price span {
    color: var(--accent-color);
}

.production__img_topLeft {
    border-top-left-radius: 10px;
}

.production__img_bottomRight {
    border-bottom-left-radius: 10px;
}

/* Bestsellers section ==========================================================================================================================================*/
.bestsellers {
    padding: 50px 0;
    grid-template-columns: 1fr 1fr 0.5fr;
    grid-gap: 20px;
}

.slider-wrap__bestsellers {
    position: relative;
}

.bestsellers__img {
    width: 100%;
    margin-bottom: 20px;
}

.bestsellers__sliderWrap {
    padding: 15px 0;
}

.bestseller__price {
    color: var(--accent-color);
}

.bestsellers__textWrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mapboxgl-ctrl-attrib-inner {
    display: none !important;
}

.slider-arrows__main_right {
    right: 80px;
}

.slider-arrows__bestsellers_right {
    right: -80px;
}

.slider-arrows__main_left {
    left: 80px;
}

.slider-arrows__bestsellers_left {
    left: -80px;
}

.bestsellers .btn,
.shop .btn {
    padding: 5px 30px;
    margin: 0;
    border: 2px solid #000;
    font-size: 18px;
}



.slider-arrow {
    position: absolute;
    outline: none;
    cursor: pointer;
}

.slider-arrows {
    position: absolute;
    top: 50%;
    transform: translateY(-25px);
    width: 100%;
    z-index: 10;
}

.bestseller__inner {
    padding: 30px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

/* Reviews section =================================================================================================================== */
.reviews {
    padding: 50px 0;
}

.reviews__img {
    margin: 0 auto 20px;
    display: block;
}

.reviews__item {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    padding: 30px;
    text-align: center;
}

.slider__wrap_reviews .tns-inner {
    padding: 15px 0;
}

.reviews__description {
    margin-top: 10px;
}

.slider-arrows__reviews_left {
    left: -80px;
}

.slider-arrows__reviews_right {
    right: -80px;
}

.bestsellers__btnWrap {
    display: flex;
    align-items: center;
}

/* Stats section =================================================================================== */
.stats {
    padding: 35px 0 50px;
}

.stats__innerWrap {
    display: grid;
    grid-template-columns: repeat(4, auto);
    gap: 30px;
}

.stats__item {
    border-radius: 0px;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px;
    border: 2px solid #26252B;
    text-align: center;
}

.stats__number {
    color: #ee5253;
}

.stats__desc {
    color: #000;
}

/* Map section ================================================================================================================== */
.map {
    position: relative;
    padding: 50px 0 0;
}

.mapContainer {
    min-height: 500px;
}

.mapContainer__wrap {
    position: relative;
}

.mapContainer__info {
    width: fit-content;
    height: fit-content;
    padding: 30px;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    position: absolute;
    left: 10%;
    top: 0;
    bottom: 0;
    margin: auto;
    z-index: 10;
}

.mapContainer__listItem {
    background: url(../img/dot.png) no-repeat left center;
    padding-left: 25px;
}

.mapContainer__listItem:not(:last-child) {
    margin-bottom: 20px;
}



/* FRONT PAGE END ==========================================================================================================================================*/



/* SHOP PAGE START ==========================================================================================================================================*/
.shop {
    background-size: cover;
    background-repeat: round;
}

.shop__innerWrap {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 40px;
}

.shop__item {
    display: block;
    text-decoration: none;
    padding: 30px;
    border-radius: 10px;
    transition: 0.5s;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1);
    background: var(--secondary-color);
}

.shop__item:hover {
    transform: scale(1.05);
    -webkit-transition: all 0.5s ease;
}

.shop__imgWrap {
    position: relative;
}

.shop__productImg {
    width: 100%;
}

.shop__textWrap {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 40px;
    margin-top: 30px;
    align-items: center;
}

.shop__textWrap .btn {
    width: 100%;
    margin: auto;
}

.shop__name {
    margin: 0 0 10px 0;
    color: #000
}

.shop__price {
    color: var(--accent-color);
}

.shop__productWeight {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: var(--secondary-color);
    position: absolute;
    top: 10px;
    right: 10px;
    color: #000;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.2);
}

/* Breadcrumbs */
.breadcrumbs-btn__img {
    width: 16px;
    margin-right: 10px;
}

.breadcrumbs-btn__link {
    display: flex;
    justify-content: center;
    align-items: center;
    display: block;
    color: #000;
}

/* SHOP PAGE END ==========================================================================================================================================*/



/* PRODUCT PAGE START ==========================================================================================================================================*/
.product__innerWrap {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 100px;
    padding-top: 100px;
    margin-top: 100px;
}

.product__img {
    width: 100%;
    display: block;
}

.product__innerWrap p {
    margin-bottom: 20px;
}

.product__price {
    color: var(--accent-color);
}

.product__input {
    width: 100px;
    height: 40px;
    outline: none;
    padding-left: 10px;
}

.product__weight {
    color: #a5a5a5;
}

.product__descriptionWrap {
    grid-column-start: 1;
    grid-column-end: 3;
}

.product__description {
    line-height: 40px;
}

/* .back-btn-product {
    margin: 0px 0 0 !important;
}

.container-products {
    padding-top: 120px;
} */

/* PRODUCT PAGE END ==========================================================================================================================================*/


/* BLOG PAGE START ==========================================================================================================================================*/
.blog__innerWrap {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 30px;
}

.blog__item {
    grid-template-columns: 1fr;
    grid-gap: 30px;
    padding: 30px;
    background: var(--secondary-color);
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-decoration: none;
    color: var(--primary-color);
}

.blog__img {
    width: 100%;
}

.blog__description {
    margin: 20px 0;
    line-height: 30px;
}

.blog__name {
    margin-top: 20px;
}

.blog .btn {
    width: 100%;
    margin: 0 0 0 auto;
    padding: 10px 0px;
}

/* BLOG PAGE END ==========================================================================================================================================*/

/* BLOG-POST PAGE START ==========================================================================================================================================*/

.post {
    padding: 120px 0;
}

.post__mainImg {
    width: 100%;
    margin-bottom: 50px;
}

.post__mainText {
    line-height: 30px;
}

/* BLOG-POST PAGE END==========================================================================================================================================*/



/* DELIVERY PAGE START ==========================================================================================================================================*/

/* Delivery section ========================================================================================================= */
.delivery {
    padding: 120px 0 !important;
}

.delivery__innerWrap {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    padding: 0 0 100px;
}

.delivery__item {
    display: grid;
    background-color: var(--secondary-color);
    border-radius: 10px;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1);
    padding: 30px;
    grid-template-columns: 1fr 2fr;
    gap: 10px;
    align-items: center;
}

.delivery__info {
    margin: 10px 0 20px;
}

.delivery__img {
    display: block;
    width: 80%;
}

/* Payment section ========================================================================================================= */
.payment {
    padding: 50px 0 120px;
}

.payment__innerWrap {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px
}

.payment__type {
    border-radius: 10px;
    background: #fff;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1);
    padding: 30px;
}

.payment__img {
    margin: 0 auto 20px;
    display: block;
}

.payment__text {
    text-align: center;
}

/* DELIVERY PAGE END ==========================================================================================================================================*/

/* CART PAGE START ==========================================================================================================================================*/
.cart {
    min-height: 100vh;
    padding: 120px 0;
}

.cart__innerWrap {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 30px;
}

.cart-leftPane {
    padding: 30px;
    border-radius: 10px;
    background: #fff;
    box-shadow: 5px 3px 30px rgba(0, 0, 0, 0.1);
    min-height: 400px;
    position: relative;
}

.cart-leftPane__defaultText {
    display: block;
    width: fit-content;
    height: fit-content;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    color: #adadad;
}

.cart-productItem__img {
    width: 150px;
}

.cart-productItem {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 2fr 1fr 1fr 0.5fr;
    gap: 50px;
    margin-bottom: 50px;
    font-family: Akrobat-regular;
}

.cart-productItem__input {
    text-align: center;
}

.cart-input {
    display: flex;
    align-items: center;
}

.cart-productItem__input {
    height: 40px;
    width: 40px;
    border: 1px solid #000;
    margin-right: 5px;
}

.cart-productItem__inputWrap {
    display: flex;
    align-items: center;
}

.cart-productItem__deleteBtn {
    font-size: 20px;
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
}

.cart-rightPane__total {
    margin-bottom: 40px;
}

.cart-rightPane {
    padding: 40px;
    border-radius: 10px;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1);
    background: #fff;
    max-height: 711px;
}

.cart-form__input {
    width: 100%;
    border: 1px solid #000;
    margin: 10px auto 30px;
    height: 50px;
    padding-left: 10px;
    font-family: Akrobat-regular;
    font-size: 16px;
}

.cart-rightPane__formName {
    margin: 40px 0;
}

.cart-rightPane__underline {
    width: 100%;
    height: 1px;
    background: #adadad;
    margin: 20px 0 0;
}

.cart-form__label {
    display: block;
    margin-bottom: 5px;
}

.cart-rightPane .btn {
    padding: 15px 0;
    width: 100%;
}

/* CART PAGE END ==========================================================================================================================================*/


/* ABOUT PAGE START ==========================================================================================================================================*/
.info {
    padding: 120px 0 0;
}

.info__innerWrap {
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.info__item {
    background: var(--secondary-color);
    border-radius: 10px;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1);
    padding: 30px;
    text-align: center;
}

.info__img {
    width: 60%;
    display: block;
    margin: 0 auto;
}

.info__name {
    margin: 20px auto 30px;
}

.info__item p {
    line-height: 30px;
}

/* Contact section ====================================================================== */
.contact {
    padding: 100px 0 50px;
}

.contact__innerWrap {
    display: grid;
    grid-template-columns: max-content auto;
    gap: 20px;
}

.contact__infoPane {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    border-radius: 10px;
    padding: 50px;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1);
}

.contact__listItem {
    font-family: Akrobat-semibold;
    background: url(../img/dot.png) no-repeat left center;
    padding-left: 25px;
    font-size: 20px;
}

.contact__listItem:not(:last-child) {
    margin-bottom: 40px;
}

.contact__formPane {
    width: 100%;
    border-radius: 10px;
    padding: 40px 50px;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1);
}

.contact__headline {
    font-family: Akrobat-bold;
    text-transform: uppercase;
    text-align: center;
    margin: 0 auto 50px;
    font-size: 35px;
}

.contact-form__top {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    margin-bottom: 15px;
}

.contact-form__input {
    width: 100%;
    height: 40px;
    margin-top: 15px;
    border: 1px solid #000;
    padding-left: 10px;
    font-family: Akrobat-regular;
    font-size: 16px;
}

.contact-form__label {
    display: block;
    font-family: Akrobat-semibold;
    font-size: 20px;
}

.contact-form__textarea {
    display: block;
    font-family: Akrobat-regular;
    width: 100%;
    resize: none;
    height: 80px;
    margin-top: 15px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #000;
}

.contact-form .btn {
    padding: 10px 60px;
    margin: 30px 0 0 auto;
}

/* ABOUT PAGE END ==========================================================================================================================================*/



/* Hidden menu ==================================================================================================*/
.burger-menu {
    display: none !important;
    width: 25px;
    height: 19px;
    flex-direction: column;
}

.burger-menu__line {
    width: 100%;
    height: 3px;
    background: #000;
    border-radius: 30px;
    transition: all 0.3s ease;
}

/* Footer section ========================================================================================================================================== */
.footer {
    padding: 30px 0;
    background: #26252B;
}

.footer__providerImg {
    width: 30px;
    height: 30px;
}

.footer__wrap {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.footer__left {
    display: flex;
    align-items: center;
}

.footer__number {
    color: var(--secondary-color);
    font-family: Akrobat-regular;
    letter-spacing: 1px;
}

.footer-wrap div:last-of-type {
    display: flex;
    justify-content: flex-end;
}

.footer__numberWrap {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
    padding: 10px 20px;
    border-radius: 30px;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5);
}

.footer__numberWrap img {
    margin-right: 10px;
}

.footer-social a {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5);
    background: var(--secondary-color);
    margin: 0 5px;
}

.footer__button {
    border-radius: 6px;
    height: 100%;
    width: 150px;
    border: none;
    background: #D4E6CC;
    color: var(--secondary-color);
    text-transform: uppercase;
    outline: none;
    cursor: pointer;
}

.footer__input {
    border: none;
    border-radius: 30px;
    outline: none;
    width: 50%;
    padding-left: 20px;
    color: #c3c3c3;
}

.footer__input::placeholder {
    color: #c3c3c3;
}

.marker {
    width: 50px;
    height: 50px;
    display: block;
    cursor: pointer;
    padding: 0;
    background: url(../img/marker.png) center/cover;
    top: -30px
}

.footer__middle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    margin: 0 auto;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5);
    border-radius: 30px;
}

.footer__copyWrap {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    margin: 20px auto 0;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 15px;
}

.footer__copy {
    font-family: Akrobat-regular;
    color: var(--secondary-color);
    text-align: center;
}

.footer__right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.footer__right_imgWrap {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
    border-radius: 50%;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5);
}

.footer__right_imgWrap:not(:last-child) {
    margin-right: 15px;
}

/* Cart section =========================================================================================================================================================== */
.header__cartImg {
    display: block;
    width: 50px;
}

.header__cartWrap {
    position: relative;
    display: block;
    width: fit-content;
    margin-left: calc(100% - 50px);
}

.header__cartAmount {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    background: var(--accent-color);
    border-radius: 50%;
    position: absolute;
    right: -2px;
    bottom: 0;
}

.header__cartAmount_number {
    color: #000;
    font-family: Akrobat-regular;
    font-size: 15px !important;
}

/* CART PAGE START ===================================================================== */


/* CART PAGE END ===================================================================== */

/* Nav mobile */
.hidden-menu {
    width: 70%;
    height: 100%;
    position: fixed;
    top: 90px;
    left: 0;
    background: rgba(255, 255, 255, 0.95);
    z-index: 1000000;
}

.hidden-menu__list {
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    margin-top: 50px;
}

.hidden-menu__listItem {
    margin: 20px 0;
}

/* Utility classes ========================================================================================================================================================*/


.container {
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;
}

.container-xs {
    width: 100%;
    margin: 0 auto;
    max-width: 1150px;
}

.text_xl {
    font-size: 48px;
}

.text_lg {
    font-size: 25px;

}

.text_md {
    font-size: 21px;

}

.text_sm {
    font-size: 17px;

}

.text_xs {
    font-size: 14px;
}

.font_bold {
    font-family: Akrobat-bold
}

.font_regular {
    font-family: Akrobat-regular
}

.font_light {
    font-family: Akrobat-light
}

.font_semibold {
    font-family: Akrobat-semibold
}



.btn {
    display: block;
    padding: 15px 80px;
    margin: 20px 0;
    text-decoration: none;
    background: transparent;
    border: 3px solid var(--primary-color);
    color: var(--primary-color);
    text-align: center;
    outline: none;
    cursor: pointer;
    font-size: 20px;
    text-transform: uppercase;
    transition: 0.3s;
    width: fit-content;
    font-family: Akrobat-semibold;
}

.btn:hover {
    background: var(--primary-color);
    color: #fff;
}

.btn_added {
    background: #000;
    color: #fff;
    cursor: auto;
}


.btn-added:hover {
    opacity: 1;
}

.breadcrumbs-btn {
    display: block;
    width: fit-content;
    padding: 5px 20px;
    border-radius: 30px;
    box-shadow: 5px 3px 30px rgba(0, 0, 0, 0.1);
    background: #fff;
    margin: 0 0 50px 0;
}

.section-headline__textWrap {
    background: var(--secondary-color);
    width: fit-content;
    border-radius: 30px;
    margin: 0 30px;
    padding: 5px 20px;
    box-shadow: 5px 3px 30px rgba(0, 0, 0, 0.1);
}

.section-headline {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 80px;
}

.headline {
    text-align: center;
    margin: 20px auto;
}

.section-headline_text {
    text-transform: uppercase;
    font-family: Akrobat-semibold;
}

.section-headline_underline {
    width: 200px;
    height: 1px;
    background: #000;
}

.main-img {
    width: 100%;
    display: block;
}

.shop,
.blog,
.delivery {
    padding: 140px 0 50px;
}

.product-wrap {
    padding: 20px 0;
}

.call-item a {
    text-decoration: none;
    color: #000;
}

/* Media ============================= */
@media screen and (max-width: 1650px) {

    .container,
    .container-xs {
        max-width: 1150px;
    }

    .slider-arrows__main_left {
        left: 40px;
    }

    .slider-arrows__main_right {
        right: 40px;
    }

    .shop__innerWrap,
    .blog__innerWrap {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (max-width: 1441px) {

    .container,
    .container-xs {
        max-width: 1100px;
    }
}

@media screen and (max-width: 1280px) {

    .container,
    .container-xs {
        max-width: 960px;
    }
}

@media screen and (max-width: 1023px) {

    .container,
    .container-xs {
        max-width: 700px;
    }

    .advantages__wrap {
        grid-template-columns: 1fr 1fr;
    }

    .stats__innerWrap {
        grid-template-columns: 1fr 1fr;
    }

    .shop__innerWrap {
        grid-template-columns: 1fr 1fr;
    }

    .blog__innerWrap {
        grid-template-columns: 1fr 1fr;
    }

    .info__innerWrap {
        grid-template-columns: 1fr 1fr;
    }

    .contact__innerWrap {
        grid-template-columns: 1fr;
    }

    .delivery__innerWrap {
        grid-template-columns: 1fr 1fr;
    }

    .cart__innerWrap {
        grid-template-columns: 1fr;
    }

    .product__innerWrap {
        gap: 50px;
    }
}
