.blog{
background: url(../../img/bg-3.png);
background-size: cover;
background-repeat: round;
}
.blog-wrap{
grid-template-columns: 1fr 1fr;
grid-gap: 50px;
}
.blog-item{
grid-template-columns: 1fr 1fr;
grid-gap: 30px;
padding: 30px;
background: var(--secondary-color);
box-shadow: 5px 5px 30px rgba(0,0,0, 0.1);
border-radius: 30px;
text-decoration: none;
}
.blog-item p{
color: var(--primary-color);
}
.blog-item p:last-of-type{
margin: 20px 0;
font-size: 20px !important;
line-height: 40px;
}
.blog-item a{
width: 200px;
height: 50px;
line-height: 50px;
margin: 0;
}
