.shop {
    background-size: cover;
    background-repeat: round;
}

.shop-wrap {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 40px;
}

.shop-item {
    display: block;
    text-decoration: none;
    padding: 30px;
    border-radius: 10px;
    transition: 0.5s;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1);
    background: var(--secondary-color);
}

.shop-item p {
    color: var(--primary-color);
    font-family: Akrobat-regular;
}

.shop-item:hover {
    transform: scale(1.05);
    -webkit-transition: all 0.5s ease;
}

.shop-item-name {
    margin: 0 0 10px 0;
}

.shop-price-wrap {
    justify-content: flex-start !important;
}

.shop__weight {
    font-family: Akrobat-semibold !important;
}

.shop-item-price {
    color: var(--accent-color) !important;
}

.shop-img-wrap {
    position: relative;
}

.shop-weight {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: var(--secondary-color);
    position: absolute;
    top: 10px;
    right: 10px;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.2);
}

.shop-weight p {
    color: var(--primary-color);
}

.arrow-left {
    width: 16px;
    margin-right: 10px;
}

.shop-cart {
    width: 40px;
    transition: 0.3s;
}

.shop-cart:hover {
    transform: rotate(-15deg);
}

.cart-img-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}


.breadcrumbs-link {
    display: flex;
    justify-content: center;
    align-items: center;
    display: block;
    font-family: Akrobat-regular;
    color: #000;
}






/* Media */
@media screen and (max-width: 1440px) {
    .shop-wrap {
        grid-gap: 20px;
    }
}

@media screen and (max-width: 1280px) {
    .shop-wrap {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (max-width: 850px) {
    .shop-wrap {
        grid-template-columns: 1fr 1fr;
    }
}
