#header-main {
    height: calc(100vh - 90px);
    background: #FFE3E3;
    grid-template-columns: 1fr 1fr;
}

#header-main h1 {
    width: 90%;
    margin: 0 auto;
    font-weight: 300;
    text-align: center;
    min-width: 505px;
}

#header-main p {
    margin: 20px 0 50px 0;
    text-align: center;
}

#header-main img {
    display: block;
    width: 80%;
}

#btn-main {
    margin: 20px auto;
}

/* Advantages-section */
/* #advantages{
    background: #FFEDE2;
} */
.advantages-wrap {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
}

.advantages-wrap>div,
.bestsellers>a {
    background: #fff;
    padding: 30px;
    border-radius: 30px;
    box-shadow: 5px 3px 30px rgba(0, 0, 0, 0.1);
}

.advantages-wrap img {
    width: 100px;
    height: auto;
    display: block;
    margin: 0 auto 20px;
}

.advantages-wrap p {
    text-align: center;
}

.advantages-wrap p:last-of-type {
    width: 70%;
    margin: 15px auto;
}



/* Products-section */
#products {
    /* background: url(../../img/bg.png); */
    background-size: cover;
    background-position: center;
    padding: 115px 0 50px;
    /* position: relative; */
}

/* #wave-top-left{
position: absolute;
top: 0;
right: 0;
z-index: 10;
} */
#products-border {
    background: #fff;
    border-radius: 30px;
    box-shadow: 5px 3px 30px rgba(0, 0, 0, 0.1);
}

.products-wrap {
    grid-template-columns: 1fr 1fr;
}

.products-wrap img {
    width: 100%;
    display: block;
}

.products-wrap span {
    font-weight: 600 !important;
    color: var(--accent-color);
}

.products-wrap a {
    width: 200px;
    height: 50px;
    line-height: 50px;
    margin: 0 auto 30px;
}

.products-wrap p {
    text-align: center;
}

.products-wrap p:last-of-type {
    width: 70%;
    margin: 0 auto;
}

.products-price {
    margin: 15px 0 30px;
}

#img-top-left {
    border-top-left-radius: 30px;
}

#img-bottom-right {
    border-bottom-right-radius: 30px;
}

/* Social section */
#bestsellers {
    /* background: url(../../img/bg-2.png); */
    background-size: 100% 100%;
    padding: 50px 0 150px;
}

.bestsellers {
    grid-template-columns: 1fr 1fr 0.5fr;
    grid-gap: 20px;
    /* margin-bottom: 80px; */
}

.bestsellers a {
    display: block;
    text-decoration: none;
    color: var(--primary-color)
}

.bestsellers a:hover .social-overlay {
    opacity: 1;
    -webkit-transition: all 0.5s ease;
}

.bestsellers a:hover .social-icon {
    opacity: 1;
}

.bestsellers img:first-of-type {
    width: 100%;
    display: block;
}

.social-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 50;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: 0.5s;
}

.social-item {
    position: relative;
    box-shadow: 5px 3px 30px rgba(0, 0, 0, 0.1);
}

.social-icon {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    width: 50px;
    height: 50px;
    opacity: 0;
    transition: 0.5s;
    z-index: 100;
}

.review-wrap {
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 50px;
}

.review-img {
    width: 80px !important;
    height: auto;
    margin: 0 auto 20px;
    display: block;
}

.review-item {
    background: #fff;
    border-radius: 30px;
    box-shadow: 5px 3px 30px rgba(0, 0, 0, 0.1);
    padding: 30px;
}

.review-item p {
    text-align: center;
}

.review-item p:last-of-type {
    margin-top: 10px;
}

/* .review-headline {
    margin-top: 100px !important;
} */
.item-wrap {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 40px;
    margin-top: 30px;
}

.item-wrap .btn {
    width: 100%;
    margin: auto;
}

.item-btn {
    display: flex;
    align-items: center;
}

#reviews {
    background: #FFE3E3;
    padding: 100px 0;
}

#reviews .container-xs {
    display: grid;
    grid-template-columns: repeat(4, auto);
    gap: 30px;
}

.review {
    background: rgba(255, 255, 255, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px;
}

.review p {
    color: #BFB0B0;
    text-align: center;
}

.review__number {
    font-size: 50px;
}

.review__desc {
    font-size: 20px;
    margin-top: 20px;
}
