#header-main{
height: calc(100vh - 90px);
background: #F4D8DD;
grid-template-columns: 1fr 1fr;
}
#header-main h1{
width: 90%;
margin: 0 auto;
font-weight: 300;
text-align: center;
}
#header-main p{
margin: 20px 0 50px 0;
text-align: center;
}
#header-main img{
display: block;
width: 80%;
}
#btn-main{
margin: 20px auto;
}
/* Advantages-section */
#advantages{
    background: #FFEDE2;
}
.advantages-wrap{
grid-template-columns: 1fr 1fr 1fr 1fr;
grid-gap: 20px;
}
.advantages-wrap>div, .social-wrap>a{
    background: #fff;
    padding: 30px;
    border-radius: 30px;
    box-shadow: 5px 3px 30px rgba(0,0,0,0.1);
}
.advantages-wrap img{
width: 100px;
height: auto;
display: block;
margin: 0 auto 20px;
}
.advantages-wrap p{
text-align: center;
}
.advantages-wrap p:last-of-type{
width: 70%;
margin: 15px auto;
}



/* Products-section */
#products{
background: url(../../img/bg.png);
background-size: cover;
background-position: center;
/* position: relative; */
}
/* #wave-top-left{
position: absolute;
top: 0;
right: 0;
z-index: 10;
} */
#products-border{
    background: #fff;
    border-radius: 30px;
    box-shadow: 5px 3px 30px rgba(0,0,0,0.1);
    max-width: 1140px;
}
.advantages-wrap{
max-width: 1140px;
margin: 0 auto;
}
.products-wrap{
grid-template-columns: 1fr 1fr;
}
.products-wrap img{
width: 100%;
display: block;
}
.products-wrap span {
font-weight: 600 !important;
color: var(--accent-color);
}
.products-wrap a{
width: 200px;
height: 50px;
line-height: 50px;
margin: 0 auto 30px;
}
.products-wrap p{
text-align: center;
}
.products-wrap p:last-of-type{
    line-height: 30px;
    width: 70%;
    min-width: 360px;
    margin: 0 auto;
}
.products-price{
margin: 15px 0 30px;
}
#pr-pd-1{
padding: 0 0 0 50px;
}
#pr-pd-2{
padding: 50px 0 0 0;
}
#img-top-left{
border-top-left-radius: 30px;
}
#img-bottom-right{
border-bottom-right-radius: 30px;
}
/* Social section */
#social{
background: url(../../img/bg-2.png);
background-size: 100% 100%;
padding: 80px 0 150px;
}
.social-wrap{
grid-template-columns: 1fr 1fr 1fr 1fr;
grid-gap: 20px;
}
.social-wrap a{
display: block;
}
.social-wrap a:hover .social-overlay{
opacity: 1;
-webkit-transition: all 0.5s ease;
}
.social-wrap a:hover .social-icon{
opacity: 1;
}
.social-wrap img:first-of-type{
width: 100%;
display: block;
}
.social-overlay{
width: 100%;
height: 100%;
position: absolute;
z-index: 50;
background: rgba(0, 0, 0, 0.5);
opacity: 0;
transition: 0.5s;
}
.social-item{
position: relative;
box-shadow: 5px 3px 30px rgba(0,0,0, 0.1);
}
.social-icon{
position: absolute;
top: 0;
bottom: 0;
right: 0;
left: 0;
margin: auto;
width: 50px;
height: 50px;
opacity: 0;
transition: 0.5s;
z-index: 100;
}
.review-wrap{
grid-template-columns: 1fr 1fr 1fr;
grid-gap: 50px;
}
.review-img{
width: 80px !important;
height: auto;
margin: 0 auto 20px;
display: block;
}
.review-item{
background: #fff;
border-radius: 30px;
box-shadow: 5px 3px 30px rgba(0,0,0, 0.1);
padding: 40px;
}
.review-item p{
text-align: center;
}
.review-item p:last-of-type{
margin-top: 10px;
}
.review-headline{
margin-top: 180px !important;
}
